@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    background-color: darkgray;
}

#header {
    margin: 0px auto;
    padding: 0px;
    width: 90%;
    height: 80px;
    background-color: darkolivegreen;
}

#logo {
    width: 30%;
    height: 80px;
    float: left;
}

#header_main {
    width: 40%;
    height: 80px;
    float: left;
}

#header_search {
    width: 30%;
    height: 80px;
    float: left;
}

#body {
    width: 90%;
    height: auto;
    margin: 0px auto;
    background-color: green;
    overflow: hidden;
}

#foot {
    width: 90%;
    height: 50px;
    margin: 0px auto;
    background-color: darkolivegreen;
}

#logo_image {
    width: auto;
    height: auto;
    margin: 10px;
}

#account {
    margin: 30px auto;
    width: 150px;
    height: auto;
}

a.account:link, a.account:hover, a.account:active, a.account:visited {
    color: orange;
    text-decoration: blink;
}

#search {
    margin: 30px auto;
    width: 230px;
    height: auto;
}

#foot_main {
    padding: 5px;
}

a.outlink:link, a.outlink:visited {
    color: blue;
    text-decoration: blink;
}

a.outlink:hover, a.outlink:active {
    color: red;
    text-decoration: blink;
}

#quicklinks {
    width: 90%;
    height: 30px;
    margin: 0px auto;
    background-color: green;
}

#link {
    height: 100%;
    padding: 3px;
    text-align: center;
}

.navigation {
    width: 80%;
    color: black;
    margin: 5px auto;
}
.navigation a:link, a:visited {
    color: black;
    text-decoration: blink;
}

/*页面的主要内容 页面添加高度*/
#body_main {
    width: 80%;
    margin: 5px auto;
    height: auto;
    overflow: hidden;
}

.bigImage {
    width: 70%;
    height: 500px;
    float: left;
    overflow: hidden;
}

.bigImage img {
    width: 600px;
    height: 400px;
    margin: 100px auto;
}

.bar {
    font-family: 宋体;
    font-size: 15px;
    width: 30%;
    height: auto;
    float: left;
}

.bar a {
    font-size: 20px;
}

/*普通链接*/
a.common:link, a.common:visited {
    color: black;
    text-decoration: blink;
}
a.common:hover, a.common:active {
    color: red;
    text-decoration: blink;
}

.login-panel {
    background: #ffffff;
    box-shadow: 0 0 2px rgba(0,0,0,.13),0 1px 5px rgba(0,0,0,.36), inset 0 0 0 1px rgba(255,255,255,.69);
    height: 336px;
    width: 30%;
    float: left;
    margin: 80px 0px;
}

.login {
    margin-left: 30px;
}
.login h1 {
    color: aqua;
    font-size: 30px;
}
span {
    font-size: 10px;
    color: red;
    margin: 0px;
    padding: 0px;
}
.login input {
    height: 30px;
    width: 200px;
    margin: 10px 0px;
}
.login a{
    color: gray;
}

.sign-panel {
    font-size: 30px;
    font-weight: bold;
}

.button {
    height: 30px;
    width: 200px;
    margin: 10px 0px;
    background-color: aquamarine;
    color: white;
}
.button:hover {
    background-color: aqua;
}

.sign input {
    height: 30px;
    width: 200px;
    margin: 10px 0px;
}

.show {
    border: 2px salmon;
    margin: 5px;
    float: left;
    background-color: white;
    text-align: center;
    font-weight: bold;
    color: black;
}
.show a {
    text-decoration: blink;
    color: black;
}
.show img {
    height: 200px;
    width: 150px;
    padding: 5px;
}

.introduction {
    float: left;
}
.introduction ul{
    list-style: none;
    font-size: 30px;
}
.introduction a:link, a:visited{
    background-color: gainsboro;
    text-decoration: none;
    padding: 3px;
}
.introduction a:hover, a:active {
    background-color: yellow;
    text-decoration: none;
    padding: 3px;
}
.orderItem {
    margin: 5px;
}
.orderItem th {
    background-color: chocolate;
}
.orderItem tr:nth-child(odd){
    background-color: aquamarine;
}
.orderItem tr:nth-child(even){
    background-color: darkcyan;
}